@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    font-family: 'Inter', sans-serif;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg)
    brightness(103%) contrast(103%);
}

.filter-green {
  filter: invert(56%) sepia(30%) saturate(2681%) hue-rotate(48deg)
    brightness(91%) contrast(90%);
}

.filter-red {
  filter: invert(19%) sepia(79%) saturate(2790%) hue-rotate(346deg)
    brightness(102%) contrast(97%);
}

.filter-blue {
  filter: invert(66%) sepia(69%) saturate(870%) hue-rotate(163deg)
    brightness(102%) contrast(102%);
}

.filter-black {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}

@media (max-width: 1200px) {
.cont {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
} 
}